{% extends "base.html" %}
{% load crispy_forms_tags %}
       
{% block content %}
<br><br><br>
    <div class="content-section">
      <div class="media">
  
      </div>
      <form method="POST" enctype="multipart/form-data">
         <input type="hidden" id="TOKEN" name="TOKEN" value="16e30db8-eb9b-4e93-aa94-3a61b2c16d72">
          <fieldset class="form-group">
              <legend class="border-bottom mb-4">Send email</legend>
          {{ email_form|crispy }}
          </fieldset>
          <div class="form-group">
              <button class="btn btn-outline-info" type="submit">Send</button>
          </div>
      </form>
    </div>
{% endblock content %}

